#################
# SensagriChain #
# .gitignore    #
#################

# Ignore everything
*

# python scrits
!.gitignore
!README.md
!env_sensagri
!bin
!bin/env
!bin/scripts
!bin/scripts/config
!bin/scripts/tolatex
!bin/scripts/sensagrichain
!bin/scripts/SplitPolygonsArea.py
!bin/scripts/SamplingSelection.py
!bin/scripts/GenerateCommonDates.py
!bin/scripts/dates.py
!bin/scripts/PlotStatisticsNew.py
!bin/scripts/infolog.py
!bin/scripts/ComputeBinaryStatistics.py
!bin/scripts/BinaryStatistics.py
!bin/scripts/GetShpFileInfo.py
!bin/scripts/config/template-joborder.cfg
!bin/scripts/config/template-results.cfg
!bin/scripts/tolatex/template.tex
!bin/scripts/tolatex/tolatex.py
!bin/scripts/tolatex/__init__.py

# Main cpp programs

!bin/cpp
!bin/cpp/build
!bin/cpp/CMakeLists.txt
!bin/cpp/MainPrograms
!bin/cpp/MainPrograms/RFClassificationVI.cxx
!bin/cpp/MainPrograms/RemoveNul.cxx
!bin/cpp/MainPrograms/JoinOpticalAndRadar.cxx
!bin/cpp/MainPrograms/OptRadRFClassificationVI.cxx
!bin/cpp/MainPrograms/FusionMap.cxx
!bin/cpp/MainPrograms/FusionProducts.cxx
!bin/cpp/MainPrograms/FusionCropMask.cxx
!bin/cpp/MainPrograms/ExtractSamplesNew.cxx
!bin/cpp/MainPrograms/CropFilter.cxx
!bin/cpp/MainPrograms/Sampling.cxx
!bin/cpp/MainPrograms/CreateOpticalPrimitives.cxx
!bin/cpp/includes
!bin/cpp/includes/ExtractSampleFromVectorFile.hpp
!bin/cpp/includes/ReadWriteSamples.hpp
!bin/cpp/includes/WriteConfusionMatrix.hpp

