#################
# SensagriChain #
# .gitignore    #
#################

# Ignore everything
*

# python scrits
!.gitignore
!README.md
!sensagri.profile
!install.sh
!bin
!bin/env
!bin/scripts
!bin/scripts/config
!bin/scripts/tolatex
!bin/scripts/sensagrichain
!bin/scripts/SplitPolygonsArea.py
!bin/scripts/SamplingSelection.py
!bin/scripts/GenerateCommonDates.py
!bin/scripts/dates.py
!bin/scripts/PlotStatisticsNew.py
!bin/scripts/infolog.py
!bin/scripts/ComputeBinaryStatistics.py
!bin/scripts/BinaryStatistics.py
!bin/scripts/GetShpFileInfo.py
!bin/scripts/PlotConfusionMatrix.py
!bin/scripts/Results.py

!bin/scripts/config/template-joborder.cfg
!bin/scripts/config/template-results.cfg
!bin/scripts/tolatex/template.tex
!bin/scripts/tolatex/tolatex.py

!bin/scripts/tolatex/__init__.py

# CHDB
!chdb.tar.gz

# Main cpp programs
!bin/cpp
!bin/cpp/build
!bin/cpp/build/build.txt
!bin/cpp/CMakeLists.txt
!bin/cpp/MainPrograms
!bin/cpp/MainPrograms/RFClassificationVI.cxx
!bin/cpp/MainPrograms/RemoveNul.cxx
!bin/cpp/MainPrograms/ReadProfiles.cxx
!bin/cpp/MainPrograms/JoinOpticalAndRadar.cxx
!bin/cpp/MainPrograms/OptRadRFClassificationVI.cxx
!bin/cpp/MainPrograms/FusionMap.cxx
!bin/cpp/MainPrograms/FusionProducts.cxx
!bin/cpp/MainPrograms/FusionCropMask.cxx
!bin/cpp/MainPrograms/ExtractSamplesNew.cxx
!bin/cpp/MainPrograms/CropFilter.cxx
!bin/cpp/MainPrograms/Sampling.cxx
!bin/cpp/MainPrograms/CalculateStatistics.cxx
!bin/cpp/MainPrograms/CreateOpticalPrimitives.cxx
!bin/cpp/includes
!bin/cpp/includes/ExtractSampleFromVectorFile.hpp
!bin/cpp/includes/ReadWriteSamples.hpp
!bin/cpp/includes/WriteConfusionMatrix.hpp
!bin/cpp/src
!bin/cpp/src/ExtractSampleFromVectorFile.cxx

# Probability Classifier
!bin/cpp/ProbabilityClassifier
!bin/cpp/ProbabilityClassifier/build
!bin/cpp/ProbabilityClassifier/build/build.txt
!bin/cpp/ProbabilityClassifier/src
!bin/cpp/ProbabilityClassifier/src/CMakeLists.txt
!bin/cpp/ProbabilityClassifier/src/CvRTreesWrapper.cxx
!bin/cpp/ProbabilityClassifier/src/CvRTreesWrapper.h
!bin/cpp/ProbabilityClassifier/src/ImageClassificationFilter.h
!bin/cpp/ProbabilityClassifier/src/ImageClassificationFilter.txx
!bin/cpp/ProbabilityClassifier/src/MachineLearningModelFactory.h
!bin/cpp/ProbabilityClassifier/src/MachineLearningModelFactory.txx
!bin/cpp/ProbabilityClassifier/src/MachineLearningModel.h
!bin/cpp/ProbabilityClassifier/src/MachineLearningModel.txx
!bin/cpp/ProbabilityClassifier/src/otbProbRFClassification.cxx
!bin/cpp/ProbabilityClassifier/src/otbProbRFClassification-save.cxx
!bin/cpp/ProbabilityClassifier/src/otbRFClassification.cxx
!bin/cpp/ProbabilityClassifier/src/RandomForestsMachineLearningModelFactory.h
!bin/cpp/ProbabilityClassifier/src/RandomForestsMachineLearningModelFactory.txx
!bin/cpp/ProbabilityClassifier/src/RandomForestsMachineLearningModel.h
!bin/cpp/ProbabilityClassifier/src/RandomForestsMachineLearningModel.txx
!bin/cpp/ProbabilityClassifier/src/ReadWriteSamples.hpp
!bin/cpp/ProbabilityClassifier/src/RFClassification.cxx
!bin/cpp/ProbabilityClassifier/src/WriteConfusionMatrix.hpp

# CreateProbabilityMap
!bin/cpp/CreateProbabilityMap
!bin/cpp/CreateProbabilityMap/build
!bin/cpp/CreateProbabilityMap/build/build.txt
!bin/cpp/CreateProbabilityMap/src
!bin/cpp/CreateProbabilityMap/src/CMakeLists.txt
!bin/cpp/CreateProbabilityMap/src/CvRTreesWrapper.cxx
!bin/cpp/CreateProbabilityMap/src/CvRTreesWrapper.h
!bin/cpp/CreateProbabilityMap/src/ImageClassificationFilter.h
!bin/cpp/CreateProbabilityMap/src/ImageClassificationFilter.txx
!bin/cpp/CreateProbabilityMap/src/MachineLearningModelFactory.h
!bin/cpp/CreateProbabilityMap/src/MachineLearningModelFactory.txx
!bin/cpp/CreateProbabilityMap/src/MachineLearningModel.h
!bin/cpp/CreateProbabilityMap/src/MachineLearningModel.txx
!bin/cpp/CreateProbabilityMap/src/otbRFClassification.cxx
!bin/cpp/CreateProbabilityMap/src/RandomForestsMachineLearningModelFactory.h
!bin/cpp/CreateProbabilityMap/src/RandomForestsMachineLearningModelFactory.txx
!bin/cpp/CreateProbabilityMap/src/RandomForestsMachineLearningModel.h
!bin/cpp/CreateProbabilityMap/src/RandomForestsMachineLearningModel.txx

